
.optab
{
    font-family:"sans serif";
    text-align: left;
    font-size: large;
    text-decoration: underline;
    color: blue ;
    background-color: white; 
    padding: auto;
    
}
table
{
    margin-left: 800;
    border-collapse: collapse;
    text-align-last: right;
    table-layout: right;
    color: white;
    background-color: #270140;
    font-size: 20;
    font-weight: bold;
    top: 40px; 
    position: relative;
}
#mapa,table {
    display: inline-block;
  }
th,td{
    border: 1px solid white;
}
.hlargo{
    width: 25%;
    height:130px ;  
}
.identuser
{
    font-family:"Lucida Sans";
    font-weight: bold;
    text-align: left;
    text-decoration-line:dashed;
    color: #460259 ;
    background-color: white;   
}
.hlargo,.textoPerfil{
    display: inline-block;
}
#us2{
    font-size: 100px;  
}
form
{
    width: 560px;
    padding: 10px;
    padding-right: 21px;
    padding-left: 40px;
    padding-inline-end: 30px;
    border: 18px;
    margin:auto;
    background: #C991D8;
    color:#270140;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 9px;
}
button
{
    text-align: right;
    font-weight: bold;
    padding:2%;
    border-radius:3px;
    background-color: #460259;
    color:#C991D8;
}

/*cabios evert*/
.nav_menu{
    width: 90%;
    height: 30px;
    position: absolute;
    top: 70px;
    color: #460259;
}

